{% extends 'base.html.twig' %}

{% block title 'Mehdi House - Home' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Mehdi House</h1>
        <p>Welcome customers! What'll be your new home?</p>
    </div>

    <div class="container">
        <h2>Enjoy these wonders !</h2>
        <div class="row flex">
            {% for property in properties %}
            <div class="col-3">
               <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a class="text-success" href="{{ path('property.show', {id: property.id, slug: property.slug})}}">{{ property.title }}</a>
                        </h5>
                        <p class="card-text"><i class="fas fa-map-marker-alt"></i> {{ property.city}}, {{property.state}}</p>
                        <p><i class="fas fa-city"></i> {{property.address}} <br> {{property.city}}, {{property.state}} {{property.postalCode}}</p>
                        <div class="text-success" style="font-weight : bold; font-size: 2rem;"> {{property.formattedPrice}} $</div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

