{% extends 'base.html.twig' %}

{% block title 'Manage Properties' %}

{% block body %}
<div class="container mt-4">


    <h1>Manage Properties</h1>

        <div class="text-right">
            <a href="{{ path('admin.property.new') }}" class="btn btn-success">Add a new house</a>
        </div>

    <!-- Message qui indique que l'action en question s'est bien déroulée -->
    {% for message in app.flashes('success')%}
        <div class="alert alert-success">
            {{message}}
        </div>
    {% endfor %}

    <table class=" table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>City</th>
                <th>State</th>
                <th>Address</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for property in properties %}
            <tr>
                <td>{{ property.title}}</td>
                <td>{{ property.city}}</td>
                <td>{{ property.state.name}} ({{property.state.abbreviation}})</td>
                <td>{{ property.address}} <br> {{property.city}}, {{property.state}} {{property.postalCode}}</td>
                <td>{{ property.formattedPrice}} $</td>
                <td>
                    <a href="{{ path('property.show', {id: property.id, slug: property.slug}) }}" class="btn btn-primary">Show</a>
                    <a href="{{ path('admin.property.edit', {id: property.id}) }}" class="btn btn-info">Edit</a>
                    <form method="post" action="{{ path('admin.property.delete', {id: property.id}) }}" style="display:inline-block" onsubmit="return confirm('Do you really want to delete this house ?')">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ property.id)}}">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


</div>




{% endblock %}

