<div class="card mb-4">
    {% if property.filename %}
        <img src="{{vich_uploader_asset(property,'imageFile')}}" alt="card-img-top" style="width:348px; height:230px;">
    {% else %}
        <img src="{{"/images/properties/empty.png"}}" alt="card-img-top">
    {% endif %}
    <div class="card-body">
        <h5 class="card-title">
            <a class="text-success" href="{{ path('property.show',{slug: property.slug, id: property.id})}}">
                {{ property.title }}
            </a>
        </h5>
        <p class="card-text"><i class="fas fa-map-marker-alt"></i> {{property.city}}, {{property.state}}</p>
        <p><i class="fas fa-city"></i> {{property.address}} <br> {{property.city}}, {{property.state}} {{property.postalCode}}</p>
        <div class="text-success" style="font-size:2rem; font-weight:bold;">
            {{ property.formattedPrice }} $
        </div>
    </div>
</div>

